<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.youxuezhe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        tools:replace="android:label"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="面学"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/FitSystemWindowTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CommodityListActivity" />
        <activity android:name=".activity.MyPublishActivity" />
        <activity android:name=".activity.OrderManagementActivity" />
        <activity android:name=".activity.modular_user_login.LoginActivity" />
        <activity android:name=".activity.modular_user_login.RegisterActivity" />
        <activity android:name=".activity.OrderOrPublishActivity" />
        <activity android:name=".activity.NeedingDetailActivity" />
        <activity
            android:name=".activity.NeedingActivity"
            android:exported="true" />
        <activity android:name=".activity.CommodityDetailActivity" />
        <activity android:name=".activity.ImprovePersonalActivity" />
        <activity android:name=".activity.PastEvaluateActivity" />
        <activity android:name=".activity.OtherInformationActivity" />
        <activity android:name=".activity.modular_message.MessageActivity" />
        <activity android:name=".activity.modular_seek_help.SeekHelpDetailActivity" />
        <activity android:name=".activity.RequestSuccessActivity" />
        <activity android:name=".activity.modular_about_play.AboutPlayTypeActivity" />
        <activity android:name=".activity.JoinSuccessActivity" />
        <activity android:name=".activity.modular_message.PrivateLetterListActivity" />
        <activity android:name=".activity.MyPublishManageActivity" />
        <activity android:name=".activity.MySeekHelpDetailActivity" />
        <activity android:name=".activity.AttentionActivity" />
        <activity
            android:name=".activity.modular_seek_help.ReleaseSeekHelpActivity"
            android:windowSoftInputMode="stateUnspecified|adjustPan" />
        <activity android:name=".activity.modular_about_play.ReleaseAboutPlayActivity" />
        <activity android:name=".activity.modular_about_play.AboutPlayDetailActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--
        <activity android:name=".activity.RegisterConfirm" />
        <activity android:name=".activity.ChooseSchool" />
        -->
        <activity
            android:name=".ui.float_edit_text_view.FloatEditTextActivity"
            android:theme="@style/NoTitleDialogTheme"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".activity.MainPageActivity"/>
        <activity android:name=".activity.modular_user_login.RegisterConfirmActivity" />
        <activity android:name=".activity.MyFriendListActivity"></activity>

    </application>

</manifest>